@import "variaveis";

[class*="row"] {
  margin-bottom: 1em;
  justify-content: center;
}

[class*="col-"] {
  background: $white-freeze;
  border: 1px solid $white-granited;
  padding-top: .75rem;
  padding-bottom: .75rem;
  width: 100%;
}
.display-button{
  display:inline;
}

.bg-green {
  background-color: #1BC98E;
}
